#ctrllr-notes
  #notes-edit
    .row
      .col-md-8
        = render 'form'
      .col-md-4
        .side_title
          = t('custom.selected_folder')
        %ul.breadcrumb#folder_text
        #folder-tree
