#ctrllr-people
  #people-index
    %table#people-index-table{data: {source: people_path(format: :json)}}
      %thead
        %tr
          %th{width: "45%"}= t('labels.firstname')
          %th{width: "45%"}= t('labels.lastname')
          %th
      %tbody
