#id-folder_remove
  %h1= t('.title')
  %p= t('.text')
  %input#delete_parent_id{type: "hidden"}
    .path
      %label= t("labels.directory")
      %span#delete_parent_path
        \/
  %input#btn-remove-folder.btn.btn-danger{type: "button", value: "#{t('buttons.delete')}"}

