#ctrllr-folders
  #folders-index
    %table#folders-index-table{data: {source: folders_path(format: :json)}}
      %thead
        %tr
          %th{width: "90%"}= t('labels.name')
          %th
      %tbody
