#ctrllr-folders
  #folders-index
    = render 'toolbar'
    .row
      .col-md-12
      / .col-md-6
      /   = render 'remove'
    .row
      .col-md-4
        #tree
      .col-md-8
        #show-documents

#modal-show-document.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{:type=>"button", :class=>"close","data-dismiss"=>"modal", "aria-hidden"=>"true"}
          &times;
        %h4.modal-title= t('.show_document_title')
      .modal-body
        #document-content
