- unless @temporary_note.attachments.blank?
  %ul.list-group
    %li.list-group-item.active= t('documents.attachments.list')
    - @temporary_note.attachments.each do |attachment|
      %li.list-group-item
        %a{href: "#{attachment.filedoc.url}", target: "new"}
          = attachment.filedoc.file.filename